.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #1a1f3b, #3d2c54);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background: linear-gradient(135deg, #161a33, #37284d);
  }
}
.text {
  margin-top: 10px;
  font-size: 12px;
  color: #d4d4d4;
}
